<!-- Footer section -->
<footer class="footer" id="contact">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-6">
          <h5>Our Location</h5>
          <p>Pimpri Chinchwad College of Engineering, Akurdi, Pune
            <br> Abhishek Gaikwad: +91-94058 47376
            <br> Neha Waghchaure: +91-77198 04030
            <br>
            <!-- email -->
          </p>
          <p>Copyright © 2017 PCCOE. All Rights Reserved.
            <br>
            <br>Made with
            <i class="fa fa-heart pulse"></i> by
            <a>Mehul Solanki</a> and
            <a>Aditya Khadse</a>
          </p>
        </div>

        <div class="footer-col col-md-3">
          <h5></h5>
          <p>
            <ul>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
        </div>

        <div class="footer-col col-md-3">
          <h5>Share with Love</h5>
          <ul class="footer-share">
            <li>
              <a href="https://www.facebook.com/pccoe.acm">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/pccoeacm/">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top -->

</footer>
<!-- Footer section -->
<!-- JS FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/jquery.flexslider-min.js"></script>
<script src="../../assets/js/jquery.fancybox.pack.js"></script>
<script src="../../assets/js/retina.min.js"></script>
<script src="../../assets/js/modernizr.js"></script>
<script src="../../assets/js/main.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.contact.js"></script>