<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>ACM Activities</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let i of induct">
        <a href="../../assets/images/gallery/induction/{{i}}" class="work-box">
          <img src="../../assets/images/gallery/induction/{{i}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Eminent Speaker Programs</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let e of esp">
        <a href="../../assets/images/gallery/esp/{{e}}" class="work-box">
          <img src="../../assets/images/gallery/esp/{{e}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Pune Coding League 2.0</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let p of pcl">
        <a href="../../assets/images/gallery/pcl/{{p}}" class="work-box">
          <img src="../../assets/images/gallery/pcl/{{p}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Teacher's Day Celebration</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let t of teachers_day">
        <a href="../../assets/images/gallery/teachers-day/{{t}}" class="work-box">
          <img src="../../assets/images/gallery/teachers-day/{{t}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Anantya 2017</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let a of anantya">
        <a href="../../assets/images/gallery/anantya/{{a}}" class="work-box">
          <img src="../../assets/images/gallery/anantya/{{a}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Microsoft Student Partner</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let m of msp">
        <a href="../../assets/images/gallery/msp/{{m}}" class="work-box">
          <img src="../../assets/images/gallery/msp/{{m}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Hour Of Code</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let h of hofc">
        <a href="../../assets/images/gallery/hofc/{{h}}" class="work-box">
          <img src="../../assets/images/gallery/hofc/{{h}}" alt="">
        </a>
      </div>

    </div>
  </div>
</section>

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Applied CS with Android</h3>
    </div>
  </div>
</section>

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-md-6 col-sm-6 work" *ngFor="let a of acs" >
        <a href="../../assets/images/gallery/acs/{{a}}" class="work-box">
          <img src="../../assets/images/gallery/acs/{{a}}" alt="" style="padding-top: 30px;">
        </a>
      </div>

    </div>
  </div>
</section>
