<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading customized">
      <h3 class="panel-title text-center">About PCCOE ACM Student Chapter</h3>
    </div>
    <div class="panel-body customized">
      <p>Set up in 2012, the PCCOE ACM Student Chapter is one of the best Student Chapter in Pune. Year by year, the Chapter
        strives to increase the number of events, and the participation of students. With the guidance of the faculty sponsors,
        and the enthusiastic volunteer and participating students, the Chapter which is now in its sixth year is improving
        rapidly on all counts. With a dynamic team, it has spiralled into the most active Student Chapter in Pune. Various
        events are held throughout the year, the details of which can be found in the various sections of the website. We
        encourage the students to perform on all quarters – be it the academic discipline, or bohemian. With an aim to be
        the best Student Chapter in the country, we are rapidly taking long strides to meet the goal.
      </p>
    </div>
  </div>
</div>
<!-- About PCCOE ACM Chapter-->
<br>
<br>
<br>
<br>

<!-- Timeline Section -->
<div class="container">
  <div class="page-header">
    <h1 id="timeline" class="text-center">Timeline</h1>
  </div>
  <ul class="timeline">

    <li>
      <div class="timeline-badge">
        <i class="glyphicon glyphicon-send"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2012-2013</h4>
          <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/dipesh.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Dipesh Walte</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/aishwarya.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Aishwarya Chandrasekaran </h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="glyphicon glyphicon-flag"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2013-2014</h4>
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/gopi.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Gopi Kapagunta</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/reena.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Reena Gandhi</h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>


    <li>
      <div class="timeline-badge">
        <i class="glyphicon glyphicon-heart-empty"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2014-2015</h4>
          <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/amrita.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Amrita Nair</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/individual.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Nikita Merani</h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="glyphicon glyphicon-heart"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2015-2016</h4>
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/sanchita.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Sanchita Rao</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/vishal.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Vishal Maurya</h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge">
        <i class="glyphicon glyphicon-star"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2016-2017</h4>
          <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/abdul.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Abdul Wasay</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/ankur.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Ankur Jangra</h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="glyphicon glyphicon-fire"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">2017-2018</h4>
        </div>
        <div class="timeline-body">
          <div class="col-md-6 col-sm-4 ">
            <div class="person">
              <img src="../../assets/images/exteam/abhishek.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Abhishek Gaikwad</h4>
                <h5 class="role">PCCOE ACM CHAIR</h5>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="person">
              <img src="../../assets/images/exteam/neha.jpg" alt="" class="img-responsive">
              <div class="person-content">
                <h4>Neha Waghchaure</h4>
                <h5 class="role">PCCOE ACM VICE CHAIR</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>